/* calculation.module.css */
.container {
  padding: 10px;
  font-family: Arial, sans-serif;
}

.title {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.filterContainer {
  margin-bottom: 10px;
}

.filterContainer input {
  margin-right: 10px;
  padding: 5px;
  font-size: 0.8em;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.8em;
}

.tableHeader {
  background-color: #f8f8f8;
  padding: 5px;
  text-align: left;
  border: 1px solid #ddd;
}

.tableRow:nth-child(even) {
  background-color: #f9f9f9;
}

.tableData {
  padding: 5px;
  border: 1px solid #ddd;
}
